.Page {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.bottomContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.leftSideContainer {
  display: flex;
  align-items: center;
  gap: 20px;
  white-space: nowrap;
}

.rightSideContainer {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media (max-width: 1050px) {
  .leftSideContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  .rightSideContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
}
@media (max-width: 600px) {
  .bottomContent {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
}
