.ConfirmOrderModalContent {
  display: flex;
  flex-direction: column;
  gap: 35px;
  align-items: center;
}

.title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
